@model WebBanHang.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>

<div class="card-body login-card-body">
    <p class="login-box-msg">Đăng nhập</p>
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true);
        <div class="input-group mb-3">
            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tài khoản" })
            
        </div>
        <div class="input-group mb-3">
            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
            
        </div>
        <div class="row">
            <div class="col-8">
                <div class="icheck-primary">
                    @Html.CheckBoxFor(x => x.RememberMe)
                    <label for="remember">Nhớ mật khẩu</label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
            </div>
            <!-- /.col -->
        </div>
    }


    <!-- /.social-auth-links -->

    <p class="mt-2 mb-2 text-center">
        <a href="#">Quên mật khẩu?</a>
    </p>
    @*<p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
        </p>*@
</div>
