@model IEnumerable<WebBanHang.Models.CartItem>
@using WebBanHang.Controllers


@if (Model != null && Model.Any())
{
    <h3>Giỏ hàng <span style="float:right;" class="badge badge-pill badge-success">@Model.Count()</span> </h3>
    var tongtien = decimal.Zero;
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
        tongtien += item.TotalPrice;
        <tr>
            <td>@item.ProductName</td>
            <td class="text-center">@item.Quantity</td>
            <td>@ManageController.FormatNumber(item.Price, 0)</td>
        </tr>
        }
        
        <tr>
            <th class="text-right">Tổng: </th>
            <th colspan="3" class="text-center">@ManageController.FormatNumber(tongtien, 0)</th>
        </tr>
    </table>
}


